###########################
######### For the presentation layer

# Dependencies
/node_modules
/.pnp
.pnp.js

# NextJS
**/.next/
**/out/

###########################
######### The rest

# Files only for testing purposes
**/_dev.ts*
**/__dev.ts*
**/_dev.js*
**/__dev.js*

# Personal to-do list
TODO.md
todo.md

# Environment variables (API keys, API secrets...)
**.env
.env*

# Testing
**/coverage

# Production
dist/
**/build

# Miscellaneous
.DS_Store
.dccache

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
